@import '../../node_modules/bootstrap/scss/bootstrap.scss';

html,
body{
    padding: 0;
    margin: 0;
    // font-family: 'Roboto', sans-serif;
    font-family: 'Quicksand', sans-serif;
        header{
            padding: 2rem 0;
            background: #dae8ed;
            .main-brand{
                color:#444444;
                 font-size: 2rem;
                 font-weight: 300;
                line-height: 5rem;
                height: 5rem;
                &:hover{
                    text-decoration: none;
                }
            }
            nav{
                ul{
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    li{
                        display: inline-block;
                       a{
                           padding: .5rem;
                            color:#444444;
                            font-size: 1rem;
                            line-height: 5rem;
                            height: 5rem;
                       }
                    }
                }
            }
    }

    section{
        padding: 2.6rem 0;
        padding-bottom: 4rem;
        &.gray{
            background: #ebebeb;
        }
    }

    .bg-rose{
        background: #ff4081;
    }
    .bg-purple{
        background: #7e57c2;
    }
    .bg-green{
        background: #00c853;
    }
    .bg-blue{
        background: #00b0ff;
    }
    .text-rose{
        color: #ff4081;
    }
    .text-purple{
        color: #7e57c2;
    }
    .text-green{
        color: #00c853;
    }
    .text-blue{
        color: #00b0ff;
    }

    .showcase-card{
        @extend .card;
        padding: 3rem;
        //color:white;


    }

    .timeline{
        margin-top: 2rem;
        position: relative;
        &:before{
            content: '';
            position: absolute;
            width:.15rem;
            left: 50%;
            margin-left: -.15rem;
            height: 100%;
            background: #e4f2ff;
            z-index: 1;
        }
        &:after{
            content: '';
            position: absolute;
            width:100%;
            left:0;
            top:-1rem;
            height: .15rem;
            background: #e4f2ff;
            z-index: 1;
        }
        .timeline-item{
            top:-2rem;
            min-height: 15rem;
            position: relative;
            padding: 2rem;
            border:.1rem solid #e4f2ff;
            background: white;
            z-index: 2;
            // &:before,
            // &:after{
            //     content: '';
            //     position: absolute;
            //     width:.3rem;
            //     background: #e4f2ff;
            //     z-index: 1;
            // }
            // &:after{
            //     width:(100%/12)*3.05;
            //     height: .15rem;
            //     right: -(100%/12)*3.05;
            //     top:10%;
            // }
            // &:before{
            //     width:1.4rem;
            //     height: 1.4rem;
            //     border-radius: 50%;
            //     right: -(100%/12)*3.05;
            //     transform:translate(0.6rem);
            //     top:10%;
            //     margin-top:-.7rem;
            // }
        }
    }
}